header img{
    width: 50%;
    max-height: none; 
}

img{
    /* width: 95%; */
    max-height: 50vh;
}
.meet-grid{
    display:grid;
    grid-template-columns: 45% 45%;
    width:90%;
    justify-content: space-around;
    margin:auto
}


article{
    padding: 2px;
    border: 5px solid black;
}

summary{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    list-style-type: none;
}
/* 
@media screen and (min-width: 778px){
    .meet-grid{
      grid-template-columns: 25% 25% 25%; 
    }   
}

@media print{
article{
    border: none
}
} */